<div class="row-fluid">	
<div class="alert">
<span class="label label-important">Important</span>请申请具有“Full Access”权限的API KEY！
</div>
<script type="text/javascript" src="./plugin/evernote/static/evernote.js"></script>
<form class="form-horizontal" action="?c=plugin&a=evernote_api_save" method="get" id="evernoteapi_form">
	<div class="control-group">
		<label class="control-label" for="evernote_api_key">API Key：</label>
		<div class="controls">
			<input type="text" class="input" id="evernote_api_key" name="evernote_api_key" value="<?=$evernote_api_key?>" required >
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="evernote_api_secret">API Secret：</label>
		<div class="controls">
			<input type="text" class="input" id="evernote_api_secret" name="evernote_api_secret" value="<?=$evernote_api_secret?>">
		</div>
	</div>

	<div class="form-actions">
            <a type="button" class="btn btn-primary" href="javascript:evernote_api_save('evernoteapi_form');">保存</a>&nbsp;
</form>

</div>	